/* button animation */
.animation-button:hover > .animattion-div {
    left: 0;
    bottom: 0;
    border-width: 2px;
}
.animation-button > .animattion-div {
    transition: all 0.2s linear;
    border: 0.5px solid #555;
    left: 14px;
    bottom: 14px;
}

.animation-button > .button-red {
    border: 0.5px solid red;
}

/* class card */
.class-card .class-img {
    transition: transform 0.4s ease-in-out;
}
.class-card .class-mini-img {
    transition: all 0.4s;
}

.class-card:hover .class-mini-img .class-mini-img-red {
    display: block;
}
.class-card:hover > .class-img {
    transform: scale(1.2);
    filter: grayscale(0);
}
.class-card:hover > .class-mini-img {
    background-color: white;
}

.user-icon:hover .user-icon-hover-box {
    opacity: 1;
}

.user-icon .user-icon-hover-box {
    transition: all 0.2s ease-out;
}
